
ADMIN_PASSWORD=ChangeThisToStrongPassword!123
SECRET_KEY=generate_this_securely
ALLOWED_ORIGINS=https://www.vewit.in,https://vewit.in
SESSION_COOKIE_SECURE=true
PGSSLMODE=require
WORKSPACE_SECRET_KEY=generate_fernet_key
